@charset "UTF-8";

@font-face {
  font-family: 'OpenSans';
  src: url('./webfonts/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Rasa';
  src: url('./webfonts/Rasa-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.textFormat {
    line-height: 30px;
    font-size: 1.2rem;
    font-family: 'Rasa';
    /*font-weight: 400;*/
    display: flex;
    margin: 10px;
    width: 90% !important;
    white-space: break-spaces;
    text-align: left;
}